services:
  web-app:
    build: .
    ports:
      - 3001:3000
    environment:
      - MONGO_HOSTNAME=db-mongo
    depends_on: 
      - db-mongo
    networks:
      - mongo-net
  db-mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-net
volumes:
  mongo-data:
networks:
  mongo-net:
    driver: bridge
