services:
  app:
    build: .
    ports:
      - 3001:3000
    environment:
      - MONGO_HOSTNAME=mongo
    depends_on: 
      - mongo
    networks:
      - mongo-net
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-net
volumes:
  mongo-data:
networks:
  mongo-net:
    driver: bridge
