name: Test NodeJS Apps API
run-name: "Test NodeJS Apps API @${{github.actor}}, event:${{github.event_name}}"
on:
    push:
    workflow_dispatch: 

jobs:
    node-js-api:
        runs-on: ubuntu-latest
        services:
          app:
            image: gbigbi210141989/node-js-api-web-app:latest
            ports:
              - 3001:3000
            env:
              MONGO_HOSTNAME: mongo
          mongo:
            image: mongo:latest
            ports:
              - "27017:27017"
            volumes:
              - mongo-data:/data/db
        steps:
            - name: Dumps services context
              run: echo '${{toJson(job.services)}}'
            - name: Post a user
              run: |
                curl -X POST \
                http://localhost:3001/api/users \
                -H 'Content-Type: application/json' \
                -d '{
                "username": "Pierre",
                "address": "66 avenu bamba"
                }'
            - name: Get Users
              run: |
                curl http://localhost:3001/api/users

                
    